<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>


<%= @text %>

    <%= form_tag('/uploadfile', :multipart => true) do %>
        <p><label for="upload_file">Select File</label>:
        <%= file_field 'upload', 'datafile' %></p>
        <%= submit_tag "Upload" %>
    <% end %>
