<div class="user-profile">
  <% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/product_form' %>
        </section>
      </aside>
    </div>
  <% else %>
    <div class="center hero-unit">
      <h1>Welcome to the VenShop</h1>

      <h2>
        This is the home page for the VenShop
        <a href="">VenShop</a>
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
