<% provide(:title, @user.name) %>
<div class="user-profile">
  <div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <b><%= link_to "Add product", '/static_pages/home', class: "btn btn-medium btn-default" %></b>
      </section>
    </aside>
    <div class="span8">
      <% if @user.products.any? %>
        <h3>Products (<%= @user.products.count %>)</h3>
        <ol class="products">
          <%= render @products %>
        </ol>
        <%= will_paginate @products %>
      <% end %>
    </div>
  </div>
</div>
