<a href="<%= root_path %>"><marquee><h1 id="menu-category"><i>Category</i><h1></marquee></a>
<ul class="nav nav-pills nav-stacked">
	<% @categories.each do |category_tmp| %>
	<% if @category.blank? then %>
			<li class="menu-item"><a href=<%= "/categories/#{category_tmp.id}"%> ><b><%= category_tmp.title %></b></a></li>
		<% else %>
			<% if (@category.id == category_tmp.id) then %>
				<li class="active menu-item" ><a href=<%= "/categories/#{category_tmp.id}"%> ><b><%= category_tmp.title %></b></a></li>
			<% else %>
				<li class="menu-item"><a href=<%= "/categories/#{category_tmp.id}"%> ><b><%= category_tmp.title %></b></a></li>
			<% end %>
		<% end %>
	<% end %>
</ul>
