<%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :price %>
    <%= number_field(:product, :price, in: 0.1..10000.0, step: 0.1) %>

    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Description for new product!!!" %>

    <%= f.label :amount %>
    <%= number_field(:product, :amount, in: 1.0..1000.0, step: 1) %>

    <%= f.label :isbn %>
    <%= f.text_field :isbn %>

    <%= f.label :category_id %>
    <%= collection_select(:product, :category_id, Category.all, :id, :title) %>

    <%= f.label :image %>
    <%= f.text_area :image %>

  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

