<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Money</th>
    </tr>
    </thead>
    <tbody>
      <% i = 3
        count = 0
      %>
      <% @products.each do |a| %>
        <% if a["amount"] != 0 then %>
          <% price = @allproduct.find(a["product_id"]).price%>
          <% string_test = ""
            if i == 0 then
              string_test = ""
            elsif i == 1 then
              string_test = "active"
            elsif i == 2 then
              string_test = "info"
            else
              string_test = "warning"
              i = 0
            end %>
          <tr class=<%= string_test %>>
            <td><%= a["product_id"] %></td>
            <td>
              <b><%=h strip_tags(@allproduct.find(a["product_id"]).title.truncate(30)) %></b></td>
            <td><%=  price %> $ </td>
            <td><%= a["amount"] %></td>
            <td><%= a["amount"] * price %> $ </td>
            <%
              count += a["amount"]
            %>
          </tr>
          <% i += 1%>
        <% end %>
      <% end %>
      <tr class="success">
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td><b><%= count %></b></td>
        <td><b><i><%= @total_money.round(3) %> $</i></b> </td>
      </tr>
    </tbody>
  </table>
  <div class="notify-when-checkout">
    <h4 class="checkout-message">Total money you need pay: <b><%= @total_money.round(3)%> $</b> for <%= pluralize(count, "product") %></h4>
    <h4 class="checkout-message">We have send message about your cart to email: <u><b><i><%= @email %></i></b></u></h4>
    <h3 class="checkout-message">Thank you for shopping!!!</h3>
  </div>
  <%= button_to cart_destroy_path(1),class: "btn btn-warning", :method => :get do %><i>Exit</i>
  <% end %>
</div>