<div class="table-responsive">
  <table class="table table-hover">
  	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Money</th>
			<th rowspan="2">Edit</th>
			<th>Remove</th>
		</tr>
		</thead>
		<tbody>
			<% i = 3
				total_money = 0
			%>
			<% session[:cart].each do |a| %>
				<% if a["amount"] != 0 then %>
					<% price = @products.find(a["product_id"]).price%>
					<% string_test = ""
						if i == 0 then
							string_test = ""
						elsif i == 1 then
							string_test = "active"
					 	elsif i == 2 then
					 		string_test = "info"
					 	else
							string_test = "warning"
							i = 0
						end %>
					<tr class=<%= string_test %>>
						<td><%= a["product_id"] %></td>
						<td>
							<b><%=h strip_tags(@products.find(a["product_id"]).title.truncate(30)) %></b></td>
						<td><%=  price %> $ </td>
						<td><%= a["amount"] %></td>
						<td><%= a["amount"] * price %> $ </td>
						<td>
							<%= form_tag cart_update_path(a["product_id"], value: params[:amount]), :method => :put do %>
    						<%= number_field(:amount, :quantity, in: 1.0..200.0, step: 1) %>
    						<%= button_tag class: "close", data: { confirm: 'Are you sure to edit quantity of product?'} do %><i class="icon-ok"></i>
								<% end %>
							<% end %>
						</td>
						<td>
						<%= button_to cart_remove_path(a["product_id"]),class: "btn btn-danger", :method => :delete,  data: { confirm: 'Are you sure to delete product?'} do %><i class="icon-trash"></i>
						<% end %>
						</td>
						<% total_money += a["amount"] * price %>
					</tr>
					<% i += 1%>
				<% end %>
			<% end %>
			<tr class="success">
				<td><b>Total</b></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><b><i><%= total_money.round(3) %> $</i></b> </td>
			</tr>
		</tbody>
	</table>
	<div>
		<%= button_to cart_destroy_path(0),class: "btn btn-warning", :method => :get,  data: { confirm: 'Are you sure to cancel your cart?'} do %><i>Cancel</i>
		<% end %>
		<%= button_to send_mail_path,class: "btn btn-info", :method => :get,  data: { confirm: 'Are you sure continue?'} do %><i>Continue</i>
		<% end %>
	</div>
</div>