<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Money</th>
    </tr>
    </thead>
    <tbody>
      <% i = 3
        total_money = 0
      %>
      <% session[:cart].each do |a| %>
        <% if a["amount"] != 0 then %>
          <% price = @products.find(a["product_id"]).price%>
          <% string_test = ""
            if i == 0 then
              string_test = ""
            elsif i == 1 then
              string_test = "active"
            elsif i == 2 then
              string_test = "info"
            else
              string_test = "warning"
              i = 0
            end %>
          <tr class=<%= string_test %>>
            <td><%= a["product_id"] %></td>
            <td>
              <b><%=h strip_tags(@products.find(a["product_id"]).title.truncate(30)) %></b></td>
            <td><%=  price %> $ </td>
            <td><%= a["amount"] %></td>
            <td><%= a["amount"] * price %> $ </td>
            <% total_money += a["amount"] * price %>
          </tr>
          <% i += 1%>
        <% end %>
      <% end %>
      <tr class="success">
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b><i><%= total_money.round(3) %> $</i></b> </td>
      </tr>
    </tbody>
  </table>

  <%= form_tag checkout_path(), :method => :get do %>
    <% if signed_in? then %>
      <%= label_tag :email %>
      <%= email_field_tag :email, current_user.email , class: "input-xxlarge" %>
      <%= button_tag class: "btn btn-info", data: { confirm: 'Are you sure to check out your cart?'} do %><i>Check out</i>
      <% end %>
    <% else %>
      <%= label_tag :email %>
      <%= email_field_tag :email, "Please enter your mail!!!" , class: "input-xxlarge" %>
      <%= button_tag class: "btn btn-info", data: { confirm: 'Are you sure to check out your cart?'} do %><i>Check out</i>
      <% end %>
    <% end %>
  <% end %>

  <%= button_to cart_destroy_path(0),class: "btn btn-warning", :method => :get,  data: { confirm: 'Are you sure to cancel your cart?'} do %><i>Cancel</i>
  <% end %>
</div>