@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@font-face {
  font-family: 'VPSThanhHoa';
  src: url('http://www.fontsaddict.com/fontface/vps-thanh-hoa.TTF');
}

@font-face {
  font-family: 'Damion';
  src: url('http://www.fontsaddict.com/fontface/damion.ttf');
}

@font-face {
  font-family: 'Weigl';
  src: url('http://www.fontsaddict.com/fontface/weigl.ttf');
}

@font-face {
  font-family: 'VPSTraVinhHoa';
  src: url('http://www.fontsaddict.com/fontface/vps-tra-vinh-hoa.TTF');
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* font banner */

#font-banner {
  font-family: Weigl;
  color: #627AAD;
  font-size: 70px;
}

#font-banner-container {
  font-family: VPSTraVinhHoa;
  color: #808080;
  font-size: 35px;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#header-color {
  background-color: #3B5998;
  background-image: linear-gradient(to bottom, #3b5998, #6d84b4);
  border-color: white;
  margin-bottom: 50px;
}

#logo {
  font-family: Damion;
  font-size:70px;
  line-height:36px;
  color:#F2F2F2;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #987a3b;
    text-decoration: none;
  }
}

#logo-img {
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  /* use mixin */
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* products */

.products {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.show-product {
  margin: 10px 0px 5px 0px;
  border: 1px solid #e6e6e6;
  padding: 5px 5px 10px 10px;
}

.content-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary, .btn-warning {
  margin: 10px 10px 10px 10px;
}

.list-nav {
  margin: 10px 10px 10px 10px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.nav-link {
  width: 100px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-link:hover {
  text-decoration: none;
  color: #ff4e00;
}

.nav-link-choose {
  background-color: white;
  color: #ff4e00;
  width: 100px;
  border-bottom: 1px solid #e6e6e6;
}

/* css for quick view*/

#title-quick {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}

#title-detail {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #3b5998;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 50px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}

#description-quick {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0;
  font-weight: 100;
  text-align: center;
}

#description-detail {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  margin: 10px 0px 0px 0px;
  padding: 0 0 0 0;
  font-weight: 100;
  text-align: center;
}

#content-description-quick {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
  color: #444;
}

#content-description-detail {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #444;
}

#author-quick {
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin:0px;
  text-align: center;
  text-transform: uppercase;
}

#price-quick, #amount-quick {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:24px;
  margin-top: 5px; margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: #222;
}

#category-quick {
  font-family: "Lucida Grande", Tahoma;
  font-size: 20px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666666;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
}

.button_to {
  margin: 0px 0px 0px 0px;
}

form {
  margin: 0px;
}

.btn-danger {
  margin: 0px 0px 0px 0px;
}

#amount_quantity {
  width: 55px;
}

button.close {
  margin: 5px 0px 0px 0px;
  opacity: 0.5;
}

.btn-info, .btn-warning {
  float: right;
  width: 100px;
  margin: 10px 10px 10px 0px;
}

form > .btn-info {
  float: left;
  margin-left: 75%;
}

.footer {
  margin: 100px 0px 0px 0px;
}

#email {
  float: left;
  margin-bottom: 0px;
}

.notify-when-checkout {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 70px;
  margin-top: 5px; margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: #FF6600;
}

#your-cart-icon {
  height: 15px;
  width: 15px;
}

#face-not {
  background-color: #dd4b39;
}

#your-home-icon {
  height: 25px;
  width: 25px;
}

#menu-category {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-weight: 100;
  color: #3b5998;
}

ul > li.menu-item > a {
  color: #3b5998;
}

/* Search box */
#search {
  background-color: #899bc1;
  float: right;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 5px;
}

#search:hover {
  background-color: #c4cde0;
}

#form-search {
  width: 20%;
  float: right;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 10px 0px;
}

#search-button {
  color: #515151;
  background-color: #ebeef4;
  border-color: #111111;
  border-radius: 15px;
  text-align: center;
  width: 30%;
  height: 22px;
  float: right;
  margin-right: 0px;
}

#search-button:hover {
  background-color: #987a3b;
}

.description-header {
  color: #999999;
}

.description-container {
  color: #141823;
  font-weight: normal;
  line-height: 1.38;
  font-size: 14px;
}

.name-product {
  text-align: center;
}

/* button add cart */
#button-add-cart {
  width: 100%;
  height: 100%;
  padding: 50px 50px 50px 50px;
  text-align: center;
}

#img-add-cart {
  width: 30%;
  height: 30%;
}

#button-add-cart-quick {
  text-align: center;
}

.user-profile {
  margin-top: 20px;
}

body {
  /* background: url(http://hdw.datawallpaper.com/abstract/book-world-desktop-background-503016.jpg) no-repeat center center fixed; */
  background: url(http://www.presidio.gov/_layouts/images/presidio/bg/sand_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.checkout-message {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:24px;
  margin-top: 5px; margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: #3b5998;
}