<% provide(:title, @category.title) %>
<div class="row">
  <h1 id="font-banner">
    <%= @category.title %>
  </h1>
  <h2 id="font-banner-container">Products (<%= @category.products.count %>)</h2>
  <div class="span2">
    <%= render 'shared/nav_menu' %>
  </div>
  <div class="span10">
    <% if @category.products.any? %>
      <ol class="products">
        <%= render @products %>
      </ol>
      <%= will_paginate @products %>
    <% end %>
  </div>
</div>