<% if @category.blank? then %>
	<li>
	  <span class="content"><%= product.title %></span>
	  <%= gravatar_for_product product.image %>
	  <span class="timestamp">
	    Posted <%= time_ago_in_words(product.created_at) %> ago.
	  </span>
	</li>
<% else %>
	<div class="show-product">
    <h4 class="name-product">
      <%= product.title %>
    </h4>
    <div class="row">
      <div class="span3">
        <%= gravatar_for_product(product.image, size: 200) %>
      </div>
      <div class="span6">
        <h4 class="description-header">Description: </h4>
        <p class="description-container">
          <%= raw(product.description.truncate(100)) %>
        </p>
        <h4 class="description-header">Price: </h4>
        <h5><%= product.price %> $</h5>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-medium btn-primary" data-toggle="modal" data-target=<%= "#myModal#{product.id}"%>><b>Quick view</b></button>
        <b><%= link_to "Detail",  product_detail_path(product.id), class: "btn btn-medium btn-primary" %></b>
        <b><%= link_to "Add to Cart",  cart_add_path(product.id), class: "btn btn-medium btn-primary" %></b>

        <!-- Modal -->
        <div class="modal fade" id=<%= "myModal#{product.id}"%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="title-quick">
                  <%= product.title %>
                </h4>
              </div>
              <div class="modal-body">
                <div id="button-add-cart-quick">
                  <%= gravatar_for_product(product.image, size: 300) %>
                  <%= link_to image_tag("http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-silver-icons-business/080954-glossy-silver-icon-business-cart2.png", :id => "img-add-cart"), cart_add_path(product.id) %>
                </div>
                <h4 id="description-quick">Description: </h4>
                <div id="content-description-quick">
                  <%=h strip_tags(product.description.truncate(200)) %>
                </div>
                <div id="price-quick">
                  <h5>Price: <%= product.price %> $</h5>
                </div>
                <div id="amount-quick">
                  <h5>Amount: <%= product.amount %></h5>
                </div>
                <div id="category-quick">CATEGORY:
                  <%= @categories.find_by(id: product.category_id).title %>
                </div>
              </div>
              <div class="modal-footer">
                <div id="author-quick">
                  <b>Author: </b>
                  <%= product.author %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Modal -->
      </div>
    </div>
  </div>
<% end %>