<div class="container">
  <h1 id="font-banner">Welcome to the <b>VENSHOP<b></h1>

  <h2 id="font-banner-container">
    Detail
  </h2>
</div>

<div class="row">
  <div class="span2">
    <%= render 'shared/nav_menu' %>
  </div>
  <div class="span10">
    <h4 id="title-detail">
      <%= @product.title %>
    </h4>
    <div class="row">
      <div class="span4">
        <%= gravatar_for_product(@product.image, size: 300) %>
      </div>
      <div class="span6">
        <div id="button-add-cart">
          <%= link_to image_tag("http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-silver-icons-business/080954-glossy-silver-icon-business-cart2.png", :id => "img-add-cart"), cart_add_path(@product.id) %>
        <h4 id="category-quick">Add to card</h4>
        </div>
      </div>
    </div>
    <h4 id="description-detail">Description: </h4>
    <div id="content-description-detail">
      <%= raw(@product.description) %>
    </div>
    <div id="price-quick">
      <h5>Price: <%= @product.price %> $</h5>
    </div>
    <div id="amount-quick">
      <h5>Amount: <%= @product.amount %></h5>
    </div>
    <div id="category-quick">CATEGORY:
      <%= @categories.find_by(id: @product.category_id).title %>
    </div>
    <div id="author-quick">
      <b>Author: </b>
      <%= @product.author %>
    </div>
  </div>
</div>