<% provide(:title, "All Product") %>
<div class="container">
  <h1 id="font-banner">Welcome to the <b>VENSHOP<b></h1>

  <h2 id="font-banner-container">
    This is the home page for the VenShop
    <a href="">VenShop</a>
  </h2>
</div>

<%= render 'shared/show_product_form' %>


