<footer class="footer">
  <small>
    <a href="<%= root_path %>">Venshop demo</a>
    by Minh Tuan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
