<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="header-color">
    <div class="container">
      <nav>
      <a href="<%= root_path %>"><img id="logo-img" src="http://scoobybook.com/images/world.png"><span id="logo">Venshop</span></a>
        <ul class="nav pull-right">
          <li>
            <a href="<%= root_path %>" id="your-cart"><img id="your-home-icon" src ="http://www.catanduanestribune.com/App_Themes/CTribune/images/buttons/home.png"></a>
          </li>
          <li>
            <% number_product = 0
              session[:cart] ||= []
              session[:cart].each do |a|
                number_product += a["amount"]
              end
            %>
          <li><a href="<%= cart_index_path %>" id="your-cart"><img id="your-cart-icon" src ="http://www.timothyotooles.com/images/shoppingcart_icon-white.gif">  <span class="badge" id="face-not"><%= number_product %></span></a></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="your-cart-icon" src ="http://www.silvermanmorrison.com/wp-content/uploads/2014/07/manager-256.png">
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><a href="<%= signin_path %>" id="your-cart"><img id="your-home-icon" src ="http://www.iconsdb.com/icons/preview/white/login-xxl.png"></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="container">
      <%= form_tag search_product_path, :id => "form-search", :class => "pull-down  navbar-search", :method => :post do %>
      <p>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], :class => "search-query input-medium" %>
          <%= button_to "Search", :name => nil, :id => "search-button", :class => "add-on" do %>
            <i class="icon-search"></i>
          <% end %>
        </div>
      </p>
      <% end %>
    </div>
  </div>
</header>