<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="icon" href="http://www.fontsaddict.com/images/icons/png/thumb/14280.png">
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <style>
      .nav-stacked {
        font-family: 'Tangerine', serif;
        font-size: 30px;
      }
      h4 {
        font-family: 'Pacifico', cursive;
        color: #333333;
        font-size: 20px;
      }
      p {
        /*font-family: 'Playfair Display', serif;*/
        font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
      }
    </style>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <br/><br/><br/>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <div class="container">

      <div connections="10" data-show-border="false" data-stream="false" data-header="false" data-show-faces="true" data-colorscheme="light" data-height="232" data-href="https://www.facebook.com/Lawliet.Tuan" class="fb-like-box fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=334341610034299&amp;color_scheme=light&amp;connections=10&amp;header=false&amp;height=232&amp;href=https%3A%2F%2Fwww.facebook.com%2Fprestashop&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false"><span style="vertical-align: bottom; width: 300px; height: 232px;"><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FLawliet.Tuan&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe></span></div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>